<p id="test"><%= test.name %></p>

<li>
  <strong>Name:</strong>
  <%= test.name %>
</li>
<li>
  <strong>Uploads:</strong>
  <% (0..test.uploads.length-1).each do |i| %> 
    <%# @test2 << test.uploads[i] %>
    <%#= image_tag(test.uploads[i]) %>
    <%= image_tag(test.uploads[i]) %>
  <% end %>
</li>

